name: Build and Push Docker Image

on:
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - shell: bash
        env:
          DHI: ${{ secrets.DHI_TOKEN }}
        run: |
          docker login -u ${{ github.actor }} -p "$DHI"
          
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the Docker image
        run: |
          docker build . -t ghcr.io/${{ github.repository }}:dev

      - name: Push the Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}:dev