name: Build and Push Docker Image

on:
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the Docker image
        env:
          DHI: ${{ secrets.DHI_TOKEN }}
        run: |
          sudo docker login -u ${{ github.actor }} -p "$DHI"
          docker build . -t ghcr.io/${{ github.repository }}:dev
          docker build . -t ghcr.io/${{ github.repository }}:2025.14

      - name: Push the Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}:dev
          docker push ghcr.io/${{ github.repository }}:2025.14